<!DOCTYPE html>
<html>
<head>
	<title>Confirma tu registración</title>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script type="text/javascript">var site_url = "<?php echo site_url()?>"</script>
	<script type="text/javascript" src="<?php echo site_url()?>user/assets/js/registration/reenviar_email.js"></script>
</head>
<body>

</body>
</html>
Te enviamos un email con el link de activacion a tu cuenta. <br>
Si no te llegó hacé click <a id="email_link" data-email="{email}" data-usuario="{usuario}" data-nombre="{nombre}" href="#email_link">acá</a> para volver a recibirlo.
