<!-- Footer -->
<footer role="contentinfo" class="footer footer-default footer-highlight-aquamarine">
	<div class="container">
		<nav class="row">
			<div class="col-xs-12 col-md-2">
				<div class="footer-logo">
					<div style="background-color:rgb(255, 255, 255); display:inline-block;">
						<svg class="social-icon" style="width:30px; height:30px;">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram-icon"><svg></svg></use></svg>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-2">
				<h3 class="nav-title">Company</h3>
				<ul class="nav">
					<li>
						<a href="/ar/about-us/contact/" id="nav-link-about" data-ga-category="menu" data-ga-action="about">
						Acerca de
						</a>
					</li>
					<li>
						<a href="/ar/jobs/" id="nav-link-jobs" data-ga-category="menu" data-ga-action="jobs">
						Empleo
						</a>
					</li>
					<li>
						<a href="https://press.spotify.com/ar/" id="nav-link-press" data-ga-category="menu" data-ga-action="press">
						Prensa
						</a>
					</li>
					<li>
						<a href="https://news.spotify.com/ar/" id="nav-link-news" data-ga-category="menu" data-ga-action="news">
						Noticias
						</a>
					</li>
				</ul>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-2">
				<h3 class="nav-title">Comunidades</h3>
				<ul class="nav">
					<li>
						<a href="https://www.spotifyartists.com/" id="nav-link-artists" data-ga-category="menu" data-ga-action="artists">
						Artistas
						</a>
					</li>
					<li>
						<a href="https://developer.spotify.com/" id="nav-link-developers" data-ga-category="menu" data-ga-action="developers">
						Desarrolladores
						</a>
					</li>
					<li>
						<a href="/ar/brands/" id="nav-link-brands" data-ga-category="menu" data-ga-action="brands">
						Marcas
						</a>
					</li>
				</ul>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-2">
				<h3 class="nav-title">Enlaces útiles</h3>
				<ul class="nav">
					<li>
						<a href="https://support.spotify.com/?utm_source=www.spotify.com&amp;utm_medium=www_footer" id="nav-link-help" data-ga-category="menu" data-ga-action="help">
						Ayuda
						</a>
					</li>
					<li>
						<a href="/ar/purchase/ecards/" id="nav-link-gift" data-ga-category="menu" data-ga-action="gift">
						Regalo
						</a>
					</li>
					<li class="hidden-xs ">
						<a href="/ar/redirect/webplayerlink/?utm_medium=www_footer" id="nav-link-play" data-ga-category="menu" data-ga-action="play">
						Reproductor web
						</a>
					</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-social">
				<ul class="nav">
					<li>
						<a href="http://instagram.com/spotify">
							<svg class="social-icon">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram-icon"><svg></svg></use></svg>
							<span class="social-text">Instagram</span>
						</a>
					</li>
					<li>
						<a href="https://twitter.com/spotify">
						<svg class="social-icon">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter-icon"><svg></svg></use></svg>
						<span class="social-text">Twitter</span>
					</a>
					</li>
					<li>
						<a href="https://www.facebook.com/Spotify">
							<svg class="social-icon">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook-icon"><svg></svg></use></svg>
							<span class="social-text">Facebook</span>
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<nav class="row row-small">
			<div class="col-xs-7 col-md-4 col-md-offset-2">
				<ul class="nav nav-small">
					<li>
						<a href="/ar/legal/">Legal</a>
					</li>
					<li>
						<a href="/ar/legal/privacy-policy/#cookies">Cookies</a>
					</li>
					<li>
						<a id="_bapw-link" href="http://info.evidon.com/pub_info/1120?v=1" target="_blank"><img src="https://cdn.betrad.com/pub/icon1.png" id="_bapw-icon" style="border:0 !important;display:inline !important;vertical-align:middle !important;  margin-top: -2px !important;"> <span>AdChoices</span>
					</li>
				</ul>
			</div>
			<div class="col-xs-5 col-md-6 text-right">
				<a class="market" href="/ar/select-your-country/" title="Hacé clic para cambiar">
					<div class="media">
						<div class="media-body media-middle">
							Argentina
						</div>
						<div class="media-right media-middle">
							<span class="media-object flag-icon flag-icon-ar"></span>
						</div>
					</div>
				</a>
				<small class="copyright">© 2016 Spotify AB</small>
			</div>
		</nav>
	</div>
</footer>

</body>
</html>