<div class="container container-jumbotron ">
	<div class="jumbotron jumbotron-hero jumbotron-inverse  status-expired">
		<div class="row">
			<div class="col-sm-7 col-lg-6 col-lg-offset-1">
				<h2 class="h1">
					Música sin límites
				</h2>
				<p>Premium te permite reproducir cualquier canción, en cualquier momento. Incluso puedes escucharlas cuando estés sin conexión. Sin restricciones. Sin anuncios.</p>
				<a href="  /ar/purchase/product/premium/&#10;" class="btn btn-lg btn-block hidden-xs btn-primary">
					Obtén los primeros 30 días gratis
				</a>
			</div>
			<div class="col-sm-4">
				<a href="  /ar/purchase/product/premium/&#10;" class="btn btn-overview-xs btn-primary">
					Obtén los primeros 30 días gratis
				</a>
				<img src="//d2c87l0yth4zbw-2.global.ssl.fastly.net/i/account/overview/iphone.png">
			</div>
		</div>
	</div>
</div>